<!DOCTYPE html>
<html>
    <head>
        <title>Node.js Stream Playground</title>
        <link rel="stylesheet" href="/stylesheets/style.css?<%= staticID %>" />
        <link rel="stylesheet" href="/stylesheets/gh-buttons.css" />
        <link rel="stylesheet" href="/stylesheets/prism.css" />
        <script>
        var BLOCKS = <%- blocks %>;
        </script>
        <script src="/javascripts/jquery-2.0.3.min.js"></script>
        <script src="/javascripts/handlebars.min.js"></script>
        <script src="/javascripts/prism.js"></script>
        <script src="/javascripts/render-code.js?<%= staticID %>"></script>
        <script src="/javascripts/main.js?<%= staticID %>"></script>
    </head>
    <body>
        <div class="header">
            <h1 class="depth" title="Node.js Stream Playground">Node.js Stream Playground</h1>
            <div class="credits">Created by <a href="http://ejohn.org/" target=_blank>John Resig</a>, MIT Licensed.<br/>
            Source code <a href="https://github.com/jeresig/node-stream-playground" target=_blank>on Github</a> and <a href="http://npmjs.org/package/stream-playground" target=_blank>on NPM</a>.</div>
        </div>

        <div id="blocks"></div>

        <div id="output">
            <h1 class="depth" title="Node.js Code">Node.js Code</h1>
            <div class="wrap">
                <pre class="code stream-code"></pre>
                <div class="buttons">
                    <div class="actions">
                        <form action="">
                            <button class="button icon remove" type="submit">Remove Last Stream</button>
                            <button class="button icon loop" type="reset">Reset Streams</button>
                        </form>
                    </div>
                </div>
            </div>
            <h1 class="depth" title="Stream Output">Stream Output</h1>
            <div id="log" class="wrap"></div>
        </div>

        <script id="blocks-tmpl" type="text/x-handlebars-template">
        {{#each blocks}}
        <div class="block{{#each io}}{{#if this}} {{@key}}{{/if}}{{/each}}">
            <div class="name">{{name}}</div>
            <div class="options">
                <form action="">
                    <input type="hidden" name="name" value="{{name}}"/>
                    <pre class="code">{{{html}}}</pre>
                    <button type="submit" class="submit button icon add">Add Stream</button>
                </form>
            </div>
        </div>
        {{/each}}
        </script>
        <script id="arg-tmpl" type="text/x-handlebars-template"><select class="arg" name="{{name}}">
        {{#each values}}
            <option value="{{value}}">{{display}}</option>
        {{/each}}
        </select></script>
        <script id="log-tmpl" type="text/x-handlebars-template">
        {{#each log}}
        <div class="log">
            <div class="name">{{{name}}}</div>
            <pre class="output code">{{{data}}}</pre>
        </div>
        {{/each}}
        </script>
    </body>
</html>