body {
    padding: 1%;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('/images/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 30px;
    margin: 0;
}

button::-moz-focus-inner {
    border: 0;
}

.header {
    width: 75%;
    position: relative;
}

.header .actions {
    position: absolute;
    top: 0px;
    right: 0px;
}

.depth {
    display: block;
    position: relative;
    color: rgba(0, 0, 0, 0.9);
}

.depth:before, .depth:after {
    content: attr(title);
    color: rgba(255,255,255,.1);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

.block {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    min-height: 60px;
    width: 75%;
    margin: 10px 0;
    padding: 7px;
    overflow: auto;
    position: relative;
    box-shadow: 0px 0px 10px #000;
    border-radius: 4px;
}

.block.hidden {
    display: none;
}

.block .name, .log .name {
    font-size: 18px;
    font-weight: bold;
}

.block .submit {
    position: absolute;
    top: 7px;
    right: 7px;
}

.log .name {
    font-size: 14px;
    margin-top: 5px
}

.code {
    font-family: Consolas, Courier New;
    font-size: 14px;
    margin: 10px 0 0 0;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
}

div.arg {
    padding: 5px 10px;
}

#output {
    position: fixed;
    top: 1%;
    right: -500px;
    width: 600px;
    max-height: 94%;
    overflow: auto;
    display: none;
    -moz-transition: right 0.5s;
    -webkit-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
    background: rgba(0, 0, 0, 0.7);
    color: #000;
    padding: 7px 7px 0 7px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 4px;
}

#output:hover, #output.active {
    right: 0;
}

#output .code {
    background: rgba(255, 255, 255, 0.9);
}

#output .depth {
    color: #FFF;
}

#output .depth:before, #output .depth:before {
    color: rgba(0,0,0,.1);
}

#output .wrap {
    margin-bottom: 10px;
}

#output .buttons {
    position: absolute;
    top: 11px;
    right: 7px;
}